{
  "presets": [
    // preset-env for es6+ to vanilla js
    "@babel/env",
    // preset-react for jsx ... to vanilla js
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime"
  ]
}
